* {
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
  color: #3BA7C0;
}

#main-container {
  width: 1092px;
  background: #F4F5F0;
  overflow: auto;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  border-bottom: 0px;
  background: #FFFFFF;
}

.etsy {
  color: #F14F1D;
  font-size: 30px;
  margin-left: 20px;
  font-family: 'Arsenal', sans-serif;
  font-weight: bold;
}

#search-bar {
  height: 25px;
  font-size: 12px;
  color: black;
  margin-left: 12px;
  width: 300px;
  border: 2px solid lightgrey;
}

.right {
  padding-left: 320px;
  color: #34A7C2;
  font-size: 12px;
}

.search-button {
  background: #34A8C4;
  color: white;
  height: 25px;
  border: 2px solid #3BA7C0;
  border-radius: 2px;
  margin-left: -9px;
  margin-bottom: 4px;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px;
}

.sell-on {
  color: #3BA7C0;
  padding: 5px;
}

.register {
  color: #3BA7C0;
  padding: 5px;
}

.sign-in {
  color: #34A7C2;
  border: 2px solid #34A8C4;
  border-radius: 2px;
  background: white;
  padding: 4px;
  height: 25px;
}

#cartbox {
  height: 40px;
  width: 35px;
  border-left: 1px solid grey;
  position: relative;
  display: inline-block;
  padding-top: 35px;
  padding-left: 15px;
  font-size: 12px;
  margin-left: 5px;
}

#cartpic {
  position: absolute;
  top: 5px;
  height: 23px;
  width: 23px;
  color: grey;
}

.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  background: #FFFFFF;
  font-size: 12px; }

.heading-link {
  color: grey;
}

a.heading-link {
  margin-left: 12px;
  color: #676767;
  padding-left: 18px;
}

.display-results {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 10px;
}

.whiskey-results {
  margin-left: 110px;
  color: #34A7C2;
  display: inline-block;
}

.whiskey {
  color: black;
  display: inline-block;
}

ul {
  padding-left: 15px;
}

.side-options {
  width: 170px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 10px;
  line-height: 20px;
  border: 3px solid #E8E9E5;
  font-size: 12px;
  display: inline-block;
}

.side-cats {
  padding-left: 10px;
}

.search-results {
  width: 892px;
  float: right;
}

.each-result {
  width: 200px;
  height: 200px;
  float: left;
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin: 6px;
}

.item-name {
  font-size: 11px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-bottom: 0px;
}

img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 4px;
}

a.item-url {
  max-width: 200px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shop-name a {
  text-decoration: none;
  color: grey;
  font-size: 65%;
}

.shop-name {
  padding-left: 8px;

}

.price {
  font-size: 75%;
  float: right;
  color: #91CC66;
  padding-right: 8px;
  padding-top: 4px;
}

.footer {
  float: right;
  margin-right: 205px;
}

.looking-for a {
  color: #34A7C2;
}

.buttons {
  margin-top: 15px;
}

button {
  background: white;
  border: 1px solid lightgrey;
  padding: 6px;
  float: left;
}

.lists ul {
  display: inline-block;
  padding-left: 25px;
}
